<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider class="sidebar" [nzWidth]="250">
      <aside class="sidebarInner">
        <div class="sidebarSection">
          <ng-container *ngFor="let item of items['main']">
            <div class="sidebarItem ant-flex ant-flex-align-center gap20" [routerLink]="item.path">
              <img [src]="getItemPath(item.iconPath)" [alt]="item.title">
              <span>{{item.title}}</span>
            </div>
          </ng-container>
        </div>
        <div class="sidebarSection">
          <p class="sectionTitle">Other Information</p>
          <ng-container *ngFor="let item of items['otherInformation']">
            <div class="sidebarItem ant-flex ant-flex-align-center gap20" [routerLink]="item.path">
              <img [src]="getItemPath(item.iconPath)" [alt]="item.title">
              <span>{{item.title}}</span>
            </div>
          </ng-container>
        </div>
        <div class="sidebarSection">
          <p class="sectionTitle">Settings</p>
          <ng-container *ngFor="let item of items['settings']">
            <div class="sidebarItem ant-flex ant-flex-align-center gap20" [routerLink]="item.path">
              <img [src]="getItemPath(item.iconPath)" [alt]="item.title">
              <span>{{item.title}}</span>
            </div>
          </ng-container>
        </div>
      </aside>
    </nz-sider>
    <nz-content>
      <div class="contentWrapper">
        <ng-content></ng-content>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
