<nz-header nz-theme="light" class="header ant-flex ant-flex-align-center">
  <nav class="inner ant-flex ant-flex-align-center">
    <div class="logoWrapper" routerLink="/">
      <img src="assets/logo.png" alt="Logo" height="38" width="159">
    </div>
    <div class="searchWrapper ant-flex ant-flex-align-center gap5">
      <span nz-icon nzType="search" nzTheme="outline"></span>
      <span>Search...</span>
    </div>
    <div class="userWrapper ant-flex ant-flex-align-center ant-flex-justify-end">
      <div class="notificationsWrapper ant-flex ant-flex-align-center gap10">
        <img src="assets/icons/chat.svg" alt="Chat icon">
        <img src="assets/icons/notifications.svg" alt="Notification icon">
      </div>
      <div class="ant-flex ant-flex-align-center gap20">
        <img src="assets/avatar.png" alt="Avatar icon">
        <span>X'eriya Poland</span>
        <span nz-icon nzType="down" nzTheme="outline"></span>
      </div>
    </div>
  </nav>
</nz-header>
