.header {
  background-color: var(--white-color);
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
}

.inner {
  width: 100%;
}

.logoWrapper {
  width: 250px;

  &:hover {
    cursor: pointer;
  }
}

.searchWrapper {
  width: 45%;
}

.userWrapper {
  width: 35%;
}

.notificationsWrapper {
  margin-right: 20px;
}
