:root {
  --primary-bg-color: #F5F6FA;
  --primary-text-color: #5A607F;
  --light-text-color: #A1A7C4;

  --primary-font-size: 14px;
  --primary-font-family: 'Inter', sans-serif;

  --white-color: #FFFFFF;
  --blue-color: #1E5EFF;
  --light-green-color: #C4F8E2;
  --green-color: #06A561;
  --red-color: #FF0000;
  --yellow-color: #DAA520;
  --dark-grey-color: #7E84A3;

  --box-shadow: 0 1px 4px 0 #15223214;
}
